<div class="preloader">
	<img src="img/loader.gif" alt="Preloader image">
</div>
<nav class="navbar">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand navbar_logo_fix" href="/" style=""><img src="img/dgulion_simple_logo_deactive_160222(337x52).png" data-active-url="img/dgulion_simple_logo_160222(337x52).png" alt="" style="width:80%; height:initial;"></a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right main-nav">
				<li><a href="#intro">Intro</a></li>
				<li><a href="#About">About</a></li>
				<li><a href="#admin">Admin</a></li>
				<li><a href="#pricing">Others</a></li>
				<li><a href="#contact">Contact</a></li>
				<% if current_user %>
				<a href="/users/sign_out"><li class="btn btn-blue" style="padding: 13px 14px;">Log Out</li></a>
				
				<% else %>
				
				<li><a href="/users/sign_up" data-toggle="modal" data-target="#modal1" class="btn btn-blue" style="padding: 13px 10px;">Sign Up</a></li>
				<li><a href="/users/sign_in" data-toggle="modal" data-target="#modal1" class="btn btn-blue" style="padding: 13px 14px;">Log In</a></li>
				
				<!--<li><a href="#" data-toggle="modal" data-target="#modal111" class="btn btn-blue">Sign Up</a></li>-->
				<!--<li><a href="/users/sign_in" data-toggle="modal" data-target="#modal" class="btn btn-blue">Log In</a></li>-->
				<% end %>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>
<header id="intro">
	<div class="container">
		<div class="table">
			<div class="header-text">
				<div class="row">
					<div class="col-md-12 text-center">
						<p class="light white header_text_up top_top">DGU</p>
                        <p class="light white header_text_up top_middle">X</p>
                        <p class="light white header_text_up top_bottom" style="">Likelion</p>
						<p class="white typed header_text_type"><%= @title %></p>
						<style>
						@media(max-width:1950px){
							.header_text_type{
								font-size:36px;
								line-height:1.5;
							}
							.header_text_up{
								font-size:30px;
								line-height:1.5;
							}
							.top_top{
								
							}
							.top_bottom{
								margin-bottom: 50px;
							}
							.navbar_logo_fix > img{
								margin-top:1%;
							}
							.about_img{
								background-image:url(img/lion_cover_dgu3.png); 
								background-size:contain;
								background-repeat: no-repeat;
							}
							.about_txt_btm1{
								color:#000000; left:-10%; font-weight: bolder;
							}
							.about_txt_btm2{
								color:#000000; right:-10%; font-weight: bolder;
							}
						}
						@media(max-width:992px){
							.header_text_type{
								font-size: 26px;
								line-height:1.0;
							}
							.header_text_up{
								font-size:20px;
								line-height:1.0;
							}
							.top_top{
								margin-top:11%;
							}
							.top_bottom{
								margin-bottom: 50px;
							}
							.navbar_logo_fix{
								width:80%;
							}
							nav.navbar-fixed-top{
								padding-bottom:0;
							}
							.navbar_logo_fix > img{
								margin-top:4%;
							}
							.about_img{
								background-image: url(img/lion_cover_dgu3.png);
							    background-size: contain;
							    background-position: 0% 100%;
							    background-repeat: no-repeat;
							}
							.about_txt_btm1{
								color:#000000; width:100%; left: 0%; font-weight: bolder;
							}
							.about_txt_btm2{
								color:#000000; width:100%; right: 0%; font-weight: bolder;
							}
						}
						</style>
						<span class="typed-cursor" style="font-size:35px;">|</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<section>
	<div class="cut cut-top"></div>
	<div class="container">
		<div class="row intro-tables">
			<div class="col-md-4">
				<div class="intro-table intro-table-first">
					<h5 class="white heading">DGUlion's Schedule</h5>
					<div class="owl-carousel owl-schedule bottom">
						<div class="item">
							<div class="schedule-row row">
								<div class="col-xs-6">
									<h5 class="regular white p15">지원 기간</h5>
								</div>
								<div class="col-xs-6 text-right">
									<h5 class="white p15">3/2일 00:00 부터<br>3/11일 23:59 까지</h5>
								</div>
							</div>
							<div class="schedule-row row">
								<div class="col-xs-6">
									<h5 class="regular white p15">면접 심사</h5>
								</div>
								<div class="col-xs-6 text-right">
									<h5 class="white p15">3/14,15일<br>(세부사항 별도공지)</h5>
								</div>
							</div>
							<div class="schedule-row row">
								<div class="col-xs-6">
									<h5 class="regular white p15">모집 결과 발표</h5>
								</div>
								<div class="col-xs-6 text-right">
									<h5 class="white p15">3/17일 00:00</h5>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="schedule-row row">
								<div class="col-xs-6">
									<h5 class="regular white p15">오프닝데이(동국)</h5>
                                    <h5 class="regular white p15">오프닝데이(전체) & M.T.</h5>
								</div>
								<div class="col-xs-6 text-right">
									<h5 class="white p15">3/18일(금) 18시</h5>
                                    <h5 class="white p15">3/19일(토) 12시 ~ 20일(일) 12시</h5>
								</div>
							</div>
							<div class="schedule-row row">
								<div class="col-xs-6">
									<h5 class="regular white p15">첫 수업</h5>
								</div>
								<div class="col-xs-6 text-right">
									<h5 class="white p15">3/21일</h5>
								</div>
							</div>
							<div class="schedule-row row">
								<div class="col-xs-6">
									<h5 class="regular white p15">마지막 수업</h5>
								</div>
								<div class="col-xs-6 text-right">
									<h5 class="white p15">6/30일</h5>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="schedule-row row">
								<div class="col-xs-6">
									<h5 class="regular white p15">아이디어톤</h5>
								</div>
								<div class="col-xs-6 text-right">
									<h5 class="white p15">6월초 ~ 7/9일</h5>
								</div>
							</div>
							<div class="schedule-row row">
								<div class="col-xs-6">
									<h5 class="regular white p15">해커톤</h5>
								</div>
								<div class="col-xs-6 text-right">
									<h5 class="white p15">8월 20일,21일</h5>
								</div>
							</div>
							<div class="schedule-row row">
								<div class="col-xs-6">
									<h5 class="regular white p15">자세한 소식은?</h5>
								</div>
								<div class="col-xs-6 text-right">
									<a href="https://www.facebook.com/DGUlion/"><h5 class="white p15" style="text-decoration: underline;">DGUlion Official Facebook</h5></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<style>
			    h5{
			        font-size:22px;
			    }
			</style>
			<div class="col-md-4">
				<div class="intro-table intro-table-hover">
					<h5 class="white heading hide-hover">Question To the Lion</h5>
					<div class="bottom">
						<h4 class="white heading small-heading no-margin regular">Q & A</h4>
						<h4 class="white heading small-pt">자주묻는 질문들</h4>
						<a href="#" data-toggle="modal" data-target="#question_noti" class="btn btn-white-fill expand">보러가기</a>
					</div>
				</div>
			</div>
			
			<div class="col-md-4">
				<div class="intro-table intro-table-third">
					<h5 class="white heading">We wonder if..</h5>
					<div class="owl-testimonials bottom">
						<div class="item">
							<h4 class="white heading content">"비전공자에게 프로그래밍을 알려주면 무슨 일이 생길까?"</h4>
							<h5 class="white heading light author">이두희</h5>
						</div>
						<div class="item">
							<h5 class="white heading content">내 아이디어로 기가막힌 서비스 하나쯤 만들어봐야지!</h5>
							<h4 class="white heading light author">그런데 주변에 개발자는 없다고?</h4>
						</div>
						<div class="item">
							<h4 class="white heading content">걱정마! 우리가 프로그래밍부터 가르쳐줄게!</h4>
							<h5 class="white heading light author">멋쟁이사자처럼 at 동국대학교</h5>
						</div>
                        <div class="item">
							<h4 class="white heading content">SO WE SEEK FOR..</h4>
							<h5 class="white heading light author"><span class="keyword">재미</span>와 <span class="keyword">열정</span>과 <span class="keyword">헌신</span>으로 <br>서비스 런칭까지 완주할 수 있는<br>동국인 바로 당신!</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="About" class="section section-padded">
	<div class="container">
		<div class="row text-center title about_img">
			<h2>About</h2>
            <br>
            <style>
                .keyword{
                    font-size: 25px;
                    font-weight: bolder;
                }
                .bold_underline{
                    font-weight: bold;
                    color: #000000;
                    font-size: 30px;
                    text-decoration: underline;
                }
                .about-light_font{
                    color: #000000;
                    font-size: 30px;
                }
            </style>
            <br>
			<h4 class="light muted bold_underline">대학생들이</h4>
            <h4 class="light muted about-light_font">내가 만들고 싶은 IT 서비스를</h4>
            <br>
            <h4 class="light muted about-light_font" style="font-size:35px;">직접 배워서</h4>
            <h4 class="light muted bold_underline" style="font-size:35px;">직접 만듭니다</h4>
            <br>
            <h4 class="light muted bold_underline" style="font-size:45px;">단 90일만에</h4>
            <br>
            <br>
            <br>
            <br>
            <h4 class="light about_txt_btm1">2013년 서울대, 2014년 수도권, 2015년 전국</h4>
            <h4 class="light about_txt_btm2">2016년은 전국 대학 모집에서 <span class="bold_underline">세계 대학 모집</span>으로 확장</h4>
		</div>
		<div class="row services">
			<div class="col-md-4">
				<div class="service">
					<div class="icon-holder">
						<img src="img/icons/study-blue.png" alt="" class="icon">
					</div>
					<h4 class="heading">STUDY</h4>
					<p class="description">HTML/CSS부터 jQuery와 같은 프론트앤드 기술과 ruby/rails와 같은 Web Framework를 공부합니다.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="service">
					<div class="icon-holder">
						<img src="img/icons/service-blue.png" alt="" class="icon">
					</div>
					<h4 class="heading">SERVICE</h4>
					<p class="description">평소에 '이런IT서비스를 꼭 만들어 보고 싶었다' 라고 생각했던 것들을 본인이 직접 구현합니다.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="service">
					<div class="icon-holder">
						<img src="img/icons/network-blue.png" alt="" class="icon">
					</div>
					<h4 class="heading">NETWORK</h4>
					<p class="description">나와 비슷한 생각을 가진 대학교 친구들을 만날 수 있습니다.</p>
				</div>
			</div>
		</div>
		<div class="row services">
		    <div class="col-md-3"></div>
		    <div class="col-md-6 col-xs-12">
		        <img src="img/schedule_infographic(160229).png" style="width:100%;">
		        <center><a href="#" data-toggle="modal" data-target="#modal_recruit_noti_card" class="btn btn-blue" style="width:100%;">
		        	<p class="light recruit_detail" style="color:whitesmoke;">자세한 선발내용 확인하기</p>
	        	</a></center>
		    </div>
		    <div class="col-md-3"></div>
		</div>
	</div>
	<style>
		@media(max-width:1950px){
			.recruit_detail{
				font-size:26px;
				margin:0;
			}
		}
		@media(max-width:992px){
			.recruit_detail{
				font-size: 16px;
				margin:0;
			}
		}
	</style>
	<div class="modal fade" id="modal_recruit_noti_card" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content modal-popup">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						<a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
					</span>
				</button>
				<h3 class="white">모집 및 일정</h3>
				<h6 class="white">+ 3월 1일자 수정(19일 M.T.갑니다!)</h6>
				<h6 class="white">(카드에 커서를 올리면 순환이 잠시 멈춥니다)</h6>
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="18000" data-pause="hover">
				  <!-- Indicators -->
				  <ol class="carousel-indicators">
				    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
				  </ol>
				
				  <!-- Wrapper for slides -->
				  <div class="carousel-inner" role="listbox">
				    <div class="item active">
				      <img src="img/recruit_noti_card/1.png" alt="1page">
				      <!--<div class="carousel-caption">-->
				      <!--  쓸말있으면 쓰라능-->
				      <!--</div>-->
				    </div>
				    <div class="item">
				      <img src="img/recruit_noti_card/2.png" alt="2page">
				      <!--<div class="carousel-caption">-->
				      <!--  쓸말있으면 쓰라능-->
				      <!--</div>-->
				    </div>
				    <div class="item">
				      <img src="img/recruit_noti_card/3_1.png" alt="2page">
				      <!--<div class="carousel-caption">-->
				      <!--  쓸말있으면 쓰라능-->
				      <!--</div>-->
				    </div>
				    <div class="item">
				      <img src="img/recruit_noti_card/4.png" alt="2page">
				      <!--<div class="carousel-caption">-->
				      <!--  쓸말있으면 쓰라능-->
				      <!--</div>-->
				    </div>
				    <div class="item">
				      <img src="img/recruit_noti_card/5.png" alt="2page">
				      <!--<div class="carousel-caption">-->
				      <!--  쓸말있으면 쓰라능-->
				      <!--</div>-->
				    </div>
				    <div class="item">
				      <img src="img/recruit_noti_card/6.png" alt="2page">
				      <!--<div class="carousel-caption">-->
				      <!--  쓸말있으면 쓰라능-->
				      <!--</div>-->
				    </div>
				    <!--쓸말있으면 여기에도 쓰라능-->
				  </div>
				
				  <!-- Controls -->
				  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				  </a>
				</div>
			</div>
		</div>
	</div>
	<div class="cut cut-bottom"></div>
</section>
<section class="section gray-bg">
    <img src="img/change_the_world_with_coding2.png" alt="" class="" style="width:100%;">
</section>
<section id="admin" class="section gray-bg">
	<div class="container">
		<div class="row title text-center">
			<h2 class="margin-top">Admin</h2>
			<h4 class="light muted">We're the Team of operators</h4>
            <h4 class="light muted">from 2015. 3rd. likelion</h4>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="team text-center">
					<div class="cover" style="background:url('img/team/team_back1.jpg'); background-size:cover;">
						<div class="overlay text-center">
							<h3 class="white">영문학과</h3>
							<h5 class="light light-white">컴퓨터포비아에서<br>개발을 하기까지</h5>
						</div>
					</div>
					<img src="img/team/yonghyun.jpg" alt="Team Image" class="avatar">
					<div class="title">
						<h4>김용현</h4>
						<h5 class="muted regular">멋사3기, 재코팀</h5>
					</div>
					<!--<button data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill">Sign Up Now</button>-->
				</div>
			</div>
			<div class="col-md-3">
				<div class="team text-center">
					<div class="cover" style="background:url('img/team/team_back2.jpg'); background-size:cover;">
						<div class="overlay text-center">
							<h3 class="white">사학과</h3>
							<h5 class="light light-white">귀염둥이!</h5>
						</div>
					</div>
					<img src="img/team/jinyee3.jpg" alt="Team Image" class="avatar">
					<div class="title">
						<h4>류진이</h4>
						<h5 class="muted regular">멋사3기, 재코팀</h5>
					</div>
					<!--<a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill ripple">Sign Up Now</a>-->
				</div>
			</div>
			
            <div class="col-md-3">
				<div class="team text-center">
					<div class="cover" style="background:url('img/team/team_back3.jpg'); background-size:cover;">
						<div class="overlay text-center">
							<h3 class="white">정보통신공학과</h3>
							<h5 class="light light-white">전공자 같지 않은 전공자</h5>
						</div>
					</div>
					<img src="img/team/jaecheol.jpg" alt="Team Image" class="avatar">
					<div class="title">
						<h4>이재철</h4>
						<h5 class="muted regular">멋사3기, 재코팀</h5>
					</div>
					<!--<a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill ripple">Sign Up Now</a>-->
				</div>
			</div>
			
            <div class="col-md-3">
				<div class="team text-center">
					<div class="cover" style="background:url('img/team/team_back4.jpg'); background-size:cover;">
						<div class="overlay text-center">
							<h3 class="white">멀티미디어공학과</h3>
							<h5 class="light light-white">야식타임-</h5>
						</div>
					</div>
					<img src="img/team/seyong.jpg" alt="Team Image" class="avatar">
					<div class="title">
						<h4>윤세영</h4>
						<h5 class="muted regular">멋사3기, 이거사자팀</h5>
					</div>
					<!--<a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill ripple">Sign Up Now</a>-->
				</div>
			</div>
		</div>
        <div class="row">
			<div class="col-md-3">
				<div class="team text-center">
					<div class="cover" style="background:url('img/team/team-cover1.jpg'); background-size:cover;">
						<div class="overlay text-center">
							<h3 class="white">화공생물공학과</h3>
							<h5 class="light light-white">개발자 Do or Not</h5>
						</div>
					</div>
					<img src="img/team/byeongjae.jpg" alt="Team Image" class="avatar">
					<div class="title">
						<h4>최병재</h4>
						<h5 class="muted regular">멋사3기, 이거사자팀</h5>
					</div>
					<!--<button data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill">Sign Up Now</button>-->
				</div>
			</div>
			<div class="col-md-3">
				<div class="team text-center">
					<div class="cover" style="background:url('img/team/team_back6.jpg'); background-size:cover;">
						<div class="overlay text-center">
							<h3 class="white">정보통신공학과</h3>
							<h5 class="light light-white">순둥순둥순</h5>
						</div>
					</div>
					<img src="img/team/yeawon.jpg" alt="Team Image" class="avatar">
					<div class="title">
						<h4>정예원</h4>
						<h5 class="muted regular">멋사3기, 이거사자팀</h5>
					</div>
					<!--<a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill ripple">Sign Up Now</a>-->
				</div>
			</div>
			
            <div class="col-md-3">
				<div class="team text-center">
					<div class="cover" style="background:url('img/team/team_back7.jpg'); background-size:cover;">
						<div class="overlay text-center">
							<h3 class="white">컴퓨터공학과</h3>
							<h5 class="light light-white">어차피 해결은 박현민</h5>
						</div>
					</div>
					<img src="img/team/hyunmin2.jpg" alt="Team Image" class="avatar">
					<div class="title">
						<h4>박현민</h4>
						<h5 class="muted regular">멋사3기, 이거사자팀</h5>
					</div>
					<!--<a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill ripple">Sign Up Now</a>-->
				</div>
			</div>
			
            <div class="col-md-3">
				<div class="team text-center">
					<div class="cover" style="background:url('img/team/team-cover3.jpg'); background-size:cover;">
						<div class="overlay text-center">
							<h3 class="white">국제통상학과</h3>
							<h5 class="light light-white">노오력하니까 코딩이 된다</h5>
						</div>
					</div>
					<img src="img/team/minho.jpg" alt="Team Image" class="avatar">
					<div class="title">
						<h4>전민호</h4>
						<h5 class="muted regular">멋사3기, 축지법팀</h5>
					</div>
					<!--<a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill ripple">Sign Up Now</a>-->
				</div>
			</div>
        </div>
	</div>
</section>
<section id="pricing" class="section">
	<div class="container">
		<div class="row title text-center">
			<h2 class="margin-top white">Others</h2>
			<h4 class="light white">멋사 1~3기의 서비스들 & 4기 페이지들</h4>
		</div>
		<div class="row no-margin">
			<div class="col-md-7 no-padding col-md-offset-5 pricings text-center">
				<div class="pricing">
					<div class="box-main active" data-img="img/thumb.png">
						<h4 class="white">SERVICES</h4>
						<h4 class="white regular light">멋사출신 서비스</h4>
						<a href="#" data-toggle="modal" data-target="#all_service" class="btn btn-white-fill">모두보기</a>
						<i class="info-icon icon_question"></i>
					</div>
					<div class="box-second active">
						<ul class="white-list text-left">
							<% Service.first(5).each do |s| %>
							<li><a href="<%= s.link_url %>" target="_blank" style="color:white;"><%= s.name %></a></li>
							<% end %>
						</ul>
					</div>
				</div>
				<div class="pricing">
					<div class="box-main" data-img="img/1.jpg">
						<h4 class="white">Likelion</h4>
						<h4 class="white regular light">2016 멋쟁이사자처럼 본부</h4>
						<a href="#" data-toggle="modal" data-target="#all_lion" class="btn btn-white-fill">모두보기</a>
						<!--<a href="http://brand.likelion.net" class="btn btn-white-fill" target="_blank">바로가기</a>-->
						<i class="info-icon icon_question"></i>
					</div>
					<div class="box-second">
						<ul class="white-list text-left">
							<% ii = 0 %>
							<% loop do %>
								<% if @univ_url_arr[@arr_object_id[ii]] != '#' %>
									<li><a href="<%= @univ_url_arr[@arr_object_id[ii]] %>" target="_blank" style="color:white;">멋사 X <%= @univ_arr[@arr_object_id[ii]] %></a></li>
								<% else %>
									<li><a href="<%= @univ_url_arr[@arr_object_id[ii]] %>" target="_blank" style="color:#bebebe;">멋사 X <%= @univ_arr[@arr_object_id[ii]] %></a></li>
								<% end %>
								<% break if ii == 4 %>
								<% ii+=1 %>
							<% end %>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section section-padded-2 blue-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="owl-twitter owl-carousel carousel">
					<!--<div class="item text-center">-->
					<!--	<i class="icon fa fa-twitter"></i>-->
					<!--	<h4 class="white light">김용현</h4>-->
					<!--	<h4 class="light-white light"></h4>-->
						<!--<h4 class="light-white light">/* hello world, 봄이 거의 끝이날 무렵의 나는 오늘의 나를 상상이나 했을까.-->
						<!--우연히 알게되고 강렬하게 원했던 Like-Lion은 짧은 여름동안 내 인생을 송두리째 바꿔놓았다. -->
						<!--더 이상 "너 문과나와서 뭐먹고 살래"라는 말을 안들어도 되는 것만 아니라, -->
						<!--내 자신에게도 무언가 강렬하게 앞으로 하고싶은 일이 생겼다는 것. -->
						<!--그것은 인생에 찾아온다는 몇 가지 큰 기회 중 하나였고, -->
						<!--LikeLion이 내게 준 축복이었다. 과정은 여기서 끝이 났지만, -->
						<!--내게는 Ruby라는 보석이 있다. 그러므로 오늘도 나는 코딩한다.*/</h4>-->
					<!--</div>-->
					<div class="item text-center text-center-mobile">
						<h3 class="white light">DGUlion</h3>
						<h5 class="light regular light-white">4기 여러분들을 기다립니다♥</h5>
						<a href="http://likelion.net" class="btn btn-blue ripple trial-button" target="_blank">지원하기</a>
					</div>
					<!--<div class="item text-center">-->
					<!--	<i class="icon fa fa-twitter"></i>-->
					<!--	<h4 class="white light">후기 두번째</h4>-->
					<!--	<h4 class="light-white light">#복붙 #복붙붙 #보옥붙</h4>-->
					<!--</div>-->
					<!--<div class="item text-center">-->
					<!--	<i class="icon fa fa-twitter"></i>-->
					<!--	<h4 class="white light">후기 세번째</h4>-->
					<!--	<h4 class="light-white light">#야 #임마 #너</h4>-->
					<!--</div>-->
				</div>
			</div>
		</div>
	</div>
</section>
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content modal-popup">
			<!--<a href="#" class="close-link"><i class="icon_close_alt2"></i></a>-->
			<!--<h3 class="white">Sign Up(한글 가능)</h3>-->
			<!--<form action="sign_in" class="popup-form" method="POST">-->
			<!--	<input type="text" name="name" class="form-control form-white" placeholder="Full Name">-->
			<!--	<input type="text" name="email" class="form-control form-white" placeholder="Email Address">-->
			<!--	<input type="password" name="passwd" class="form-control form-white" placeholder="PassWord">-->
			<!--	<input type="text" name="phone" class="form-control form-white" placeholder="Phone Call">-->
			<!--	<input type="text" name="student_id" class="form-control form-white" placeholder="Student ID / Major">-->
			<!--	<input type="text" name="etc" class="form-control form-white" placeholder="Age / Home-Address">-->
				
			<!--	<div class="dropdown">-->
			<!--		<button id="dLabel" class="form-control form-white dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
			<!--			Member Status-->
			<!--		</button>-->
			<!--		<ul class="dropdown-menu animated fadeIn" role="menu" aria-labelledby="dLabel">-->
			<!--			<li class="animated lightSpeedIn"><a href="#">멋사 회원입니다.</a></li>-->
			<!--			<li class="animated lightSpeedIn"><a href="#">회원이 아닙니다.(지원하지 않습니다)</a></li>-->
			<!--			<li class="animated lightSpeedIn"><a href="#">회원이 아닙니다.(지원할 예정입니다.)(전공자)</a></li>-->
			<!--			<li class="animated lightSpeedIn"><a href="#">회원이 아닙니다.(지원할 예정입니다.)(비전공자)</a></li>-->
			<!--		</ul>-->
			<!--	</div>-->
			<!--	<div class="checkbox-holder text-left">-->
			<!--		<div class="checkbox">-->
			<!--			<input type="checkbox" value="None" id="squaredOne" name="check" />-->
			<!--			<label for="squaredOne"><span>I Agree to the <strong>Terms &amp; Conditions</strong></span></label>-->
			<!--		</div>-->
			<!--	</div>-->
			<!--	<button type="submit" class="btn btn-submit">Submit</button>-->
			<!--</form>-->
		</div>
	</div>
</div>
<!--<div class="modal fade" id="modal111" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
<!--	<div class="modal-dialog">-->
<!--		<div class="modal-content modal-popup">-->
<!--			<a href="#" class="close-link"><i class="icon_close_alt2"></i></a>-->
<!--			<h3 class="white">Sign Up(한글 가능)</h3>-->
<!--			<form action="sign_in" class="popup-form" method="POST">-->
<!--				<input type="text" name="name" class="form-control form-white" placeholder="Full Name">-->
<!--				<input type="text" name="email" class="form-control form-white" placeholder="Email Address">-->
<!--				<input type="password" name="passwd" class="form-control form-white" placeholder="PassWord">-->
<!--				<input type="text" name="phone" class="form-control form-white" placeholder="Phone Call">-->
<!--				<input type="text" name="student_id" class="form-control form-white" placeholder="Student ID / Major">-->
<!--				<input type="text" name="etc" class="form-control form-white" placeholder="Age / Home-Address">-->
				
<!--				<div class="dropdown">-->
<!--					<button id="dLabel" class="form-control form-white dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--						Member Status-->
<!--					</button>-->
<!--					<ul class="dropdown-menu animated fadeIn" role="menu" aria-labelledby="dLabel">-->
<!--						<li class="animated lightSpeedIn"><a href="#">멋사 회원입니다.</a></li>-->
<!--						<li class="animated lightSpeedIn"><a href="#">회원이 아닙니다.(지원하지 않습니다)</a></li>-->
<!--						<li class="animated lightSpeedIn"><a href="#">회원이 아닙니다.(지원할 예정입니다.)(전공자)</a></li>-->
<!--						<li class="animated lightSpeedIn"><a href="#">회원이 아닙니다.(지원할 예정입니다.)(비전공자)</a></li>-->
<!--					</ul>-->
<!--				</div>-->
<!--				<div class="checkbox-holder text-left">-->
<!--					<div class="checkbox">-->
<!--						<input type="checkbox" value="None" id="squaredOne" name="check" />-->
<!--						<label for="squaredOne"><span>I Agree to the <strong>Terms &amp; Conditions</strong></span></label>-->
<!--					</div>-->
<!--				</div>-->
<!--				<button type="submit" class="btn btn-submit">Submit</button>-->
<!--			</form>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
<div class="modal fade" id="question_noti" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content modal-popup">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">
					<a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
				</span>
			</button>
			<!--<a onclick="return false" class="list-group-item active" disabled="disabled">-->
			<!--	<h3 class="white non-active">Q n A 는 24일(수) 오픈 예정입니다.</h3></a>-->
			<!--<div class="list-group animated fadeIn" role="menu" aria-labelledby="dLabel"></div>-->
			<a onclick="return false" class="list-group-item active" disabled="disabled"><h4 class="white non-active">Q n A 는 24일(수) 오픈 예정입니다!</h4></a>
			<div class="list-group animated fadeIn" role="menu" aria-labelledby="dLabel">
				<style>
					.now_size_temp{
						font-size:21px;
					}
					.now_size_temp2{
						font-size:16px;
					}
					.non-active{
						cursor:default;
					}
				</style>
				<div class="list-group-item">
					<img src="http://t1.daumcdn.net/thumb/C216x216/?fname=http%3A%2F%2Fi1.daumcdn.net%2Fsvc%2Fimage%2FU03%2Fsdb%2F566631A0050FB00002" style="width:50%;"><br>
					<p class="now_size_temp3">빠른 질문을 원하신다면 <br><a href="https://www.facebook.com/DGUlion" target="_blank">여기</a>를 눌러주세요</p>
				</div>
			</div>
			<div class="checkbox-holder text-left">
				<div class="checkbox">
					<input type="checkbox" value="None" id="squaredOne" name="check" />
					<label for="squaredOne"><span>I Agree to the <strong>Terms &amp; Conditions</strong></span></label>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="all_service" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content modal-popup">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">
					<a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
				</span>
			</button>
			<a onclick="return false" class="list-group-item active" disabled="disabled"><h3 class="white non-active">LikeLion Services</h3></a>
			<div class="list-group animated fadeIn" role="menu" aria-labelledby="dLabel">
				<style>
					.now_size_temp{
						font-size:21px;
					}
					.now_size_temp2{
						font-size:16px;
					}
					.non-active{
						cursor:default;
					}
				</style>
				<% Service.all.reverse.each do |sv| %>
					<% if sv.is_live.to_s == "true" %>
						<a href="<%= sv.link_url %>" class="list-group-item" target="_blank">
							<img src="<%= sv.logo_url %>" style="width:50%;"><br>
							<p class="now_size_temp3"><%= sv.name %></p>
							<p class="now_size_temp4"><%= sv.desc_short %></p>
							<p class="now_size_temp5"><%= sv.desc_long %></p>
						</a>
					<% else %>
						<a href="#" class="list-group-item" target="_blank">
							<img src="<%= sv.logo_url %>" style="width:50%;"><br>
							<p class="now_size_temp3"><%= sv.name %></p>
							<p class="now_size_temp4"><%= sv.desc_short %></p>
							<p class="now_size_temp5"><%= sv.desc_long %></p>
						</a>
					<% end %>
				<% end %>
			</div>
			<div class="checkbox-holder text-left">
				<div class="checkbox">
					<input type="checkbox" value="None" id="squaredOne" name="check" />
					<label for="squaredOne"><span>I Agree to the <strong>Terms &amp; Conditions</strong></span></label>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="all_lion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content modal-popup">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">
					<a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
				</span>
			</button>
			<a onclick="return false" class="list-group-item active" disabled="disabled"><h3 class="white non-active">LikeLion Univs</h3></a>
			<div class="list-group animated fadeIn" role="menu" aria-labelledby="dLabel">
				<style>
					.now_size_temp{
						font-size:21px;
					}
					.now_size_temp2{
						font-size:16px;
					}
					.now_size_temp3{
						font-size:25px;
					}
					.now_size_temp4{
						font-size:18px;
					}
					.now_size_temp5{
						font-size:15px;
					}
					.non-active{
						cursor:default;
					}
				</style>
				<a href="<%= @univ_url_arr[0] %>" class="list-group-item" target="_blank"><p class="now_size_temp"><%= @univ_arr[0] %></p></a>
				<% i=1 %>
				<% loop do %>
					<!--<li class="animated lightSpeedIn">-->
						<a href="<%= @univ_url_arr[i] %>" class="list-group-item" target="_blank">
							<p class="now_size_temp"><span class="now_size_temp2">멋쟁이사자처럼 X </span><%= @univ_arr[i] %></p>
						</a>
					<!--</li>-->
					<% break if i == @univ_count - 1 %>
					<% break if i == 200 %>
					<% i+=1 %>
				<% end %>
			</div>
			<div class="checkbox-holder text-left">
				<div class="checkbox">
					<input type="checkbox" value="None" id="squaredOne" name="check" />
					<label for="squaredOne"><span>I Agree to the <strong>Terms &amp; Conditions</strong></span></label>
				</div>
			</div>
		</div>
	</div>
</div>
<footer id="contact">
	<div class="container">
		<div class="row title text-center">
			<h2 class="white">Contact</h2>
			<!--<hr>-->
		</div>
		<div class="row">
			<div class="col-sm-6 text-center-mobile">
	            <div class="row">
	                <div class="col-lg-12 text-center white">
	                    <h3 class="section-heading white">Question</h3>
	                    <hr>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-lg-12">
	                    <form action="/qna/send_email" id="contactForm" method="POST">
	                        <div class="row">
	                            <div class="col-md-6">
	                                <div class="form-group">
	                                    <input type="text" class="form-control" name="user_name" placeholder="이름 *" id="name" required="" data-validation-required-message="Please enter your name.">
	                                    <p class="help-block text-danger"></p>
	                                </div>
	                                <div class="form-group">
	                                    <input type="text" class="form-control" name="user_major" placeholder="전공&amp;학번 *" id="major" required="" data-validation-required-message="Please enter your major.">
	                                    <p class="help-block text-danger"></p>
	                                </div>
	                            </div>
	                            <div class="col-md-6">
	                                <div class="form-group">
	                                    <input type="email" class="form-control" name="user_email" placeholder="이메일 *" id="email" required="" data-validation-required-message="Please enter your email address.">
	                                    <p class="help-block text-danger"></p>
	                                </div>
	                                <div class="form-group">
	                                    <input type="tel" class="form-control" name="user_phone" placeholder="핸드폰 번호 *" id="phone" required="" data-validation-required-message="Please enter your phone number.">
	                                    <p class="help-block text-danger"></p>
	                                </div>
	                            </div>
	                            <div class="clearfix"></div>
	                            <div class="col-lg-12 text-center">
	                                <div class="form-group">
	                                    <textarea class="form-control" name="user_message" placeholder="궁금한 점 등 자유롭게 메세지를 남겨주세요! *" id="message" required="" data-validation-required-message="Please enter a message."></textarea>
	                                    <p class="help-block text-danger"></p>
	                                </div>
	                                <div id="success"></div>
	                                <button type="submit" class="btn btn-blue ripple" style="width:100%;">물어보기</button>
	                            </div>
	                        </div>
	                    </form>
	                </div>
	            </div>
			</div>
			<div class="col-sm-6 text-center-mobile">
				<div class="row">
	                <div class="col-lg-12 text-center white">
	                    <h3 class="section-heading white">Partners</h3>
	                    <hr>
	                </div>
	            </div>
				<h4 class="white">LikeLion 4th is supported by<br>GOOGLE CAMPUS SEOUL & Amazon Web Service<span class="open-blink"></span></h4>
				<img style="width:45%; background-color: rgba(246, 246, 246, 0.48); border-radius: 4%;" src="http://likelion.net/assets/sponsors/gc-7363b3c66e01d90e34692b3eccd97f684a8da12e9981b34c49f3b39204cb1bdb.png">
				<img style="width:45%; background-color: rgba(246, 246, 246, 0.48); border-radius: 4%;" src="http://likelion.net/assets/sponsors/aws-6d5694172d6c564df11390a7d1ffcc81d837a4d2287ec0783e30bbf9662c4670.png">
				<div class="row opening-hours">
					<div class="col-sm-6 text-center-mobile">
						<!--<h5 class="light-white light">When</h5>-->
						<!--<h3 class="regular white">권장 주3회(자율)</h3>-->
					</div>
					<div class="col-sm-6 text-center-mobile">
						<!--<h5 class="light-white light">Where</h5>-->
						<!--<h3 class="regular white">공간 협의 중</h3>-->
					</div>
					<div class="col-sm-12 text-center-mobile">
					    <h4 class="regular white">The More on <a class="white" href="https://www.facebook.com/DGUlion/"><i class="fa fa-facebook"></i><br><br>[멋쟁이사자처럼 at 동국대학교]</a></h4>
					</div>
				</div>
			</div>
		</div>
		<div class="row bottom-footer text-center-mobile">
			<div class="col-sm-8">
				<p>&copy; 2016 All Rights Reserved. Run with <a href="http://likelion.net/">Likelion</a> we're the <a href="#">One</a></p>
			</div>
			<div class="col-sm-4 text-right text-center-mobile">
				<ul class="social-footer">
					<!--<li><a href="https://www.facebook.com/DGUlion/"><i class="fa fa-facebook"></i></a></li>-->
					<!--<li><a href="http://www.twitter.com/codrops"><i class="fa fa-twitter"></i></a></li>-->
					<!--<li><a href="https://plus.google.com/101095823814290637419"><i class="fa fa-google-plus"></i></a></li>-->
				</ul>
			</div>
		</div>
	</div>
</footer>
<!-- Holder for mobile navigation -->
<div class="mobile-nav">
	<ul>
	</ul>
	<a href="#" class="close-link"><i class="arrow_up"></i></a>
</div>
<!-- Scripts -->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/typewriter.js"></script>
<script src="js/jquery.onepagenav.js"></script>
<script src="js/main.js"></script>
